BASE_URL=
SERVER_PORT=
WEB_SOCKET_PORT=
NODE_ENV=
LIMIT_REQUEST_SIZE=

# Common
BCRYPT_SALT_ROUND=
FILE_LIMIT_SIZE=
MAX_FILE_UPLOAD=
VERIFY_CODE_EXPIRED=
PENDING_CHANGE_EXPIRED=

# Secret key
SECRET_JWT_KEY=
API_KEY=

# File
FILE_STORAGE_PATH=
FILE_ASSETS_PATH=

 # Logger
LOGGER_LABEL=
LOGGER_LEVEL=

 # Database (Postgresql)
DATABASE_URL=
JWT_ACCESS_TOKEN_KEY=
JWT_REFRESH_TOKEN_KEY=
JWT_ACCESS_TOKEN_EXPIRES=
JWT_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES=

GEMINI_API_KEY=
GEMINI_MODEL=